html, body {
  margin: 0;
  padding: 0;
}

.star-container {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow-y: hidden;
}
.star-container .star-text {
  position: absolute;
  font-size: 60px;
  left: 50%;
  top: 50%;
  background: linear-gradient(#FFFFFF, #1b2735);
  transform: translate3d(-50%, -50%, 0);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  letter-spacing: 10px;
}
.star-container .star-layer1 {
  position: fixed;
  width: 2px;
  height: 2px;
  background: #FFFFFF;
  box-shadow: 43vw 90vh #FFFFFF, 66vw 90vh #FFFFFF, 31vw 31vh #FFFFFF, 62vw 80vh #FFFFFF, 64vw 23vh #FFFFFF, 14vw 16vh #FFFFFF, 39vw 69vh #FFFFFF, 77vw 22vh #FFFFFF, 60vw 67vh #FFFFFF, 29vw 39vh #FFFFFF, 16vw 91vh #FFFFFF, 88vw 22vh #FFFFFF, 86vw 30vh #FFFFFF, 12vw 66vh #FFFFFF, 81vw 48vh #FFFFFF, 19vw 59vh #FFFFFF, 27vw 73vh #FFFFFF, 34vw 69vh #FFFFFF, 70vw 52vh #FFFFFF, 25vw 3vh #FFFFFF, 99vw 21vh #FFFFFF, 100vw 75vh #FFFFFF, 6vw 6vh #FFFFFF, 96vw 47vh #FFFFFF, 5vw 58vh #FFFFFF, 69vw 87vh #FFFFFF, 48vw 84vh #FFFFFF, 31vw 57vh #FFFFFF, 46vw 12vh #FFFFFF, 53vw 100vh #FFFFFF, 38vw 56vh #FFFFFF, 56vw 79vh #FFFFFF, 19vw 44vh #FFFFFF, 25vw 93vh #FFFFFF, 25vw 7vh #FFFFFF, 92vw 48vh #FFFFFF, 26vw 6vh #FFFFFF, 93vw 34vh #FFFFFF, 14vw 48vh #FFFFFF, 85vw 71vh #FFFFFF, 84vw 8vh #FFFFFF, 1vw 34vh #FFFFFF, 10vw 39vh #FFFFFF, 87vw 69vh #FFFFFF, 3vw 82vh #FFFFFF, 80vw 57vh #FFFFFF, 66vw 6vh #FFFFFF, 58vw 37vh #FFFFFF, 99vw 63vh #FFFFFF, 26vw 59vh #FFFFFF, 98vw 36vh #FFFFFF, 53vw 77vh #FFFFFF, 27vw 20vh #FFFFFF, 75vw 45vh #FFFFFF, 75vw 98vh #FFFFFF, 20vw 22vh #FFFFFF, 76vw 47vh #FFFFFF, 1vw 26vh #FFFFFF, 53vw 53vh #FFFFFF, 64vw 9vh #FFFFFF, 27vw 95vh #FFFFFF, 18vw 2vh #FFFFFF, 54vw 47vh #FFFFFF, 10vw 25vh #FFFFFF, 4vw 4vh #FFFFFF, 49vw 79vh #FFFFFF, 94vw 17vh #FFFFFF, 13vw 15vh #FFFFFF, 30vw 1vh #FFFFFF, 89vw 81vh #FFFFFF, 34vw 20vh #FFFFFF, 30vw 70vh #FFFFFF, 30vw 85vh #FFFFFF, 85vw 18vh #FFFFFF, 95vw 35vh #FFFFFF, 93vw 43vh #FFFFFF, 56vw 70vh #FFFFFF, 85vw 99vh #FFFFFF, 21vw 54vh #FFFFFF, 60vw 73vh #FFFFFF, 66vw 74vh #FFFFFF, 96vw 38vh #FFFFFF, 73vw 70vh #FFFFFF, 16vw 63vh #FFFFFF, 5vw 55vh #FFFFFF, 19vw 23vh #FFFFFF, 40vw 96vh #FFFFFF, 75vw 16vh #FFFFFF, 98vw 9vh #FFFFFF, 90vw 60vh #FFFFFF, 7vw 8vh #FFFFFF, 28vw 5vh #FFFFFF, 11vw 88vh #FFFFFF, 22vw 7vh #FFFFFF, 50vw 66vh #FFFFFF, 88vw 89vh #FFFFFF, 2vw 68vh #FFFFFF, 54vw 86vh #FFFFFF, 97vw 80vh #FFFFFF, 7vw 85vh #FFFFFF, 14vw 25vh #FFFFFF, 50vw 3vh #FFFFFF, 25vw 76vh #FFFFFF, 57vw 3vh #FFFFFF, 21vw 3vh #FFFFFF, 68vw 12vh #FFFFFF, 9vw 50vh #FFFFFF, 16vw 71vh #FFFFFF, 52vw 38vh #FFFFFF, 99vw 33vh #FFFFFF, 26vw 97vh #FFFFFF, 23vw 33vh #FFFFFF, 56vw 6vh #FFFFFF, 20vw 95vh #FFFFFF, 15vw 83vh #FFFFFF, 77vw 57vh #FFFFFF, 96vw 89vh #FFFFFF, 1vw 76vh #FFFFFF, 40vw 17vh #FFFFFF, 91vw 64vh #FFFFFF, 6vw 76vh #FFFFFF, 22vw 72vh #FFFFFF, 93vw 66vh #FFFFFF, 82vw 68vh #FFFFFF, 25vw 20vh #FFFFFF, 39vw 25vh #FFFFFF, 79vw 62vh #FFFFFF, 51vw 94vh #FFFFFF, 36vw 33vh #FFFFFF, 80vw 64vh #FFFFFF, 3vw 26vh #FFFFFF, 56vw 76vh #FFFFFF, 30vw 98vh #FFFFFF, 68vw 94vh #FFFFFF, 55vw 24vh #FFFFFF, 73vw 76vh #FFFFFF, 72vw 72vh #FFFFFF, 59vw 1vh #FFFFFF, 8vw 42vh #FFFFFF, 60vw 75vh #FFFFFF, 47vw 73vh #FFFFFF, 15vw 65vh #FFFFFF, 69vw 63vh #FFFFFF, 20vw 33vh #FFFFFF, 76vw 72vh #FFFFFF, 84vw 1vh #FFFFFF, 3vw 87vh #FFFFFF, 54vw 26vh #FFFFFF, 41vw 70vh #FFFFFF, 88vw 8vh #FFFFFF, 77vw 17vh #FFFFFF, 11vw 38vh #FFFFFF, 97vw 40vh #FFFFFF, 79vw 31vh #FFFFFF, 69vw 93vh #FFFFFF, 10vw 61vh #FFFFFF, 8vw 79vh #FFFFFF, 44vw 85vh #FFFFFF, 34vw 89vh #FFFFFF, 15vw 44vh #FFFFFF, 63vw 50vh #FFFFFF, 93vw 26vh #FFFFFF, 19vw 16vh #FFFFFF, 33vw 48vh #FFFFFF, 94vw 49vh #FFFFFF, 39vw 11vh #FFFFFF, 5vw 30vh #FFFFFF, 23vw 84vh #FFFFFF, 64vw 83vh #FFFFFF, 62vw 50vh #FFFFFF, 63vw 78vh #FFFFFF, 77vw 32vh #FFFFFF, 22vw 51vh #FFFFFF, 31vw 62vh #FFFFFF, 26vw 74vh #FFFFFF, 99vw 4vh #FFFFFF, 33vw 21vh #FFFFFF, 5vw 17vh #FFFFFF, 13vw 15vh #FFFFFF, 35vw 3vh #FFFFFF, 41vw 19vh #FFFFFF, 74vw 57vh #FFFFFF, 83vw 27vh #FFFFFF, 73vw 45vh #FFFFFF, 97vw 6vh #FFFFFF, 41vw 95vh #FFFFFF, 61vw 69vh #FFFFFF, 11vw 73vh #FFFFFF, 65vw 82vh #FFFFFF, 99vw 15vh #FFFFFF, 89vw 71vh #FFFFFF, 2vw 11vh #FFFFFF, 16vw 93vh #FFFFFF, 9vw 23vh #FFFFFF, 48vw 88vh #FFFFFF, 14vw 32vh #FFFFFF, 45vw 82vh #FFFFFF, 77vw 74vh #FFFFFF, 21vw 58vh #FFFFFF, 40vw 13vh #FFFFFF, 22vw 63vh #FFFFFF, 1vw 96vh #FFFFFF, 80vw 27vh #FFFFFF, 93vw 45vh #FFFFFF, 2vw 26vh #FFFFFF, 57vw 67vh #FFFFFF, 25vw 74vh #FFFFFF, 70vw 31vh #FFFFFF, 84vw 18vh #FFFFFF, 54vw 7vh #FFFFFF, 64vw 96vh #FFFFFF, 58vw 81vh #FFFFFF, 19vw 99vh #FFFFFF, 28vw 17vh #FFFFFF, 22vw 64vh #FFFFFF, 52vw 93vh #FFFFFF, 84vw 6vh #FFFFFF, 47vw 4vh #FFFFFF, 43vw 3vh #FFFFFF, 97vw 29vh #FFFFFF, 100vw 46vh #FFFFFF, 98vw 88vh #FFFFFF, 13vw 30vh #FFFFFF, 80vw 36vh #FFFFFF, 99vw 21vh #FFFFFF, 16vw 86vh #FFFFFF, 83vw 25vh #FFFFFF, 38vw 15vh #FFFFFF, 5vw 38vh #FFFFFF, 11vw 11vh #FFFFFF, 88vw 73vh #FFFFFF, 54vw 29vh #FFFFFF, 12vw 57vh #FFFFFF, 14vw 3vh #FFFFFF, 26vw 88vh #FFFFFF, 74vw 76vh #FFFFFF, 89vw 17vh #FFFFFF, 82vw 11vh #FFFFFF, 27vw 99vh #FFFFFF, 20vw 57vh #FFFFFF, 74vw 41vh #FFFFFF, 26vw 54vh #FFFFFF, 37vw 74vh #FFFFFF, 67vw 11vh #FFFFFF, 48vw 7vh #FFFFFF, 31vw 89vh #FFFFFF, 51vw 51vh #FFFFFF, 88vw 21vh #FFFFFF, 9vw 98vh #FFFFFF, 6vw 73vh #FFFFFF, 28vw 74vh #FFFFFF, 67vw 38vh #FFFFFF, 94vw 46vh #FFFFFF, 93vw 10vh #FFFFFF, 76vw 69vh #FFFFFF, 73vw 94vh #FFFFFF, 55vw 89vh #FFFFFF, 17vw 65vh #FFFFFF, 91vw 71vh #FFFFFF, 90vw 62vh #FFFFFF, 38vw 13vh #FFFFFF, 89vw 63vh #FFFFFF, 15vw 72vh #FFFFFF, 96vw 56vh #FFFFFF, 3vw 95vh #FFFFFF, 76vw 32vh #FFFFFF, 82vw 44vh #FFFFFF, 93vw 58vh #FFFFFF, 47vw 96vh #FFFFFF, 33vw 38vh #FFFFFF, 38vw 12vh #FFFFFF, 64vw 8vh #FFFFFF, 3vw 36vh #FFFFFF, 58vw 19vh #FFFFFF, 52vw 10vh #FFFFFF, 99vw 63vh #FFFFFF, 4vw 97vh #FFFFFF, 46vw 31vh #FFFFFF, 10vw 78vh #FFFFFF, 96vw 15vh #FFFFFF, 15vw 50vh #FFFFFF, 63vw 35vh #FFFFFF, 25vw 40vh #FFFFFF, 48vw 3vh #FFFFFF, 44vw 43vh #FFFFFF, 26vw 53vh #FFFFFF, 53vw 5vh #FFFFFF, 86vw 2vh #FFFFFF, 84vw 24vh #FFFFFF, 97vw 56vh #FFFFFF, 80vw 29vh #FFFFFF, 27vw 19vh #FFFFFF, 35vw 94vh #FFFFFF, 40vw 81vh #FFFFFF, 67vw 72vh #FFFFFF, 47vw 2vh #FFFFFF, 57vw 96vh #FFFFFF, 83vw 2vh #FFFFFF, 57vw 74vh #FFFFFF, 55vw 39vh #FFFFFF, 64vw 46vh #FFFFFF, 61vw 3vh #FFFFFF, 65vw 11vh #FFFFFF, 22vw 24vh #FFFFFF, 20vw 24vh #FFFFFF, 17vw 67vh #FFFFFF, 76vw 77vh #FFFFFF, 56vw 60vh #FFFFFF, 64vw 14vh #FFFFFF, 60vw 63vh #FFFFFF, 56vw 90vh #FFFFFF, 2vw 50vh #FFFFFF, 84vw 7vh #FFFFFF, 62vw 49vh #FFFFFF, 60vw 63vh #FFFFFF, 21vw 62vh #FFFFFF, 17vw 45vh #FFFFFF, 90vw 15vh #FFFFFF, 43vw 34vh #FFFFFF, 25vw 42vh #FFFFFF, 44vw 31vh #FFFFFF, 70vw 51vh #FFFFFF, 32vw 93vh #FFFFFF, 89vw 93vh #FFFFFF, 44vw 90vh #FFFFFF, 11vw 73vh #FFFFFF, 85vw 95vh #FFFFFF, 84vw 18vh #FFFFFF, 16vw 57vh #FFFFFF, 51vw 86vh #FFFFFF, 97vw 78vh #FFFFFF, 87vw 45vh #FFFFFF, 82vw 42vh #FFFFFF;
  border-radius: 50%;
  animation: starMove 300s linear infinite;
}
.star-container .star-layer1::before {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  box-shadow: inherit;
  position: fixed;
  left: 0;
  top: 100vh;
}
.star-container .star-layer2 {
  position: fixed;
  width: 4px;
  height: 4px;
  background: #FFFFFF;
  box-shadow: 85vw 64vh #FFFFFF, 51vw 33vh #FFFFFF, 15vw 37vh #FFFFFF, 17vw 19vh #FFFFFF, 76vw 24vh #FFFFFF, 39vw 88vh #FFFFFF, 91vw 86vh #FFFFFF, 94vw 19vh #FFFFFF, 95vw 97vh #FFFFFF, 60vw 81vh #FFFFFF, 91vw 25vh #FFFFFF, 9vw 43vh #FFFFFF, 92vw 3vh #FFFFFF, 54vw 66vh #FFFFFF, 8vw 88vh #FFFFFF, 29vw 16vh #FFFFFF, 25vw 15vh #FFFFFF, 36vw 84vh #FFFFFF, 96vw 47vh #FFFFFF, 67vw 83vh #FFFFFF, 74vw 71vh #FFFFFF, 58vw 66vh #FFFFFF, 17vw 29vh #FFFFFF, 10vw 92vh #FFFFFF, 18vw 21vh #FFFFFF, 50vw 58vh #FFFFFF, 35vw 36vh #FFFFFF, 44vw 9vh #FFFFFF, 24vw 8vh #FFFFFF, 99vw 71vh #FFFFFF, 4vw 95vh #FFFFFF, 97vw 94vh #FFFFFF, 63vw 34vh #FFFFFF, 3vw 9vh #FFFFFF, 76vw 32vh #FFFFFF, 17vw 46vh #FFFFFF, 47vw 18vh #FFFFFF, 28vw 27vh #FFFFFF, 41vw 3vh #FFFFFF, 57vw 86vh #FFFFFF, 70vw 20vh #FFFFFF, 56vw 44vh #FFFFFF, 56vw 89vh #FFFFFF, 46vw 76vh #FFFFFF, 88vw 97vh #FFFFFF, 1vw 37vh #FFFFFF, 79vw 62vh #FFFFFF, 88vw 85vh #FFFFFF, 97vw 74vh #FFFFFF, 50vw 29vh #FFFFFF, 88vw 85vh #FFFFFF, 35vw 91vh #FFFFFF, 13vw 40vh #FFFFFF, 84vw 30vh #FFFFFF, 62vw 100vh #FFFFFF, 14vw 46vh #FFFFFF, 56vw 58vh #FFFFFF, 77vw 20vh #FFFFFF, 32vw 98vh #FFFFFF, 65vw 13vh #FFFFFF, 80vw 71vh #FFFFFF, 65vw 96vh #FFFFFF, 59vw 25vh #FFFFFF, 45vw 83vh #FFFFFF, 82vw 37vh #FFFFFF, 39vw 13vh #FFFFFF, 53vw 67vh #FFFFFF, 47vw 98vh #FFFFFF, 72vw 44vh #FFFFFF, 65vw 75vh #FFFFFF, 78vw 68vh #FFFFFF, 56vw 23vh #FFFFFF, 58vw 61vh #FFFFFF, 68vw 77vh #FFFFFF, 85vw 33vh #FFFFFF, 21vw 39vh #FFFFFF, 10vw 33vh #FFFFFF, 70vw 49vh #FFFFFF, 22vw 94vh #FFFFFF, 36vw 14vh #FFFFFF, 25vw 32vh #FFFFFF, 37vw 1vh #FFFFFF, 18vw 66vh #FFFFFF, 81vw 22vh #FFFFFF, 32vw 37vh #FFFFFF, 30vw 73vh #FFFFFF, 44vw 85vh #FFFFFF, 25vw 24vh #FFFFFF, 92vw 57vh #FFFFFF, 55vw 34vh #FFFFFF, 75vw 97vh #FFFFFF, 47vw 11vh #FFFFFF, 30vw 74vh #FFFFFF, 92vw 90vh #FFFFFF, 5vw 74vh #FFFFFF, 70vw 14vh #FFFFFF, 16vw 6vh #FFFFFF, 48vw 98vh #FFFFFF, 92vw 100vh #FFFFFF, 9vw 69vh #FFFFFF, 44vw 71vh #FFFFFF, 68vw 78vh #FFFFFF, 57vw 62vh #FFFFFF, 68vw 16vh #FFFFFF, 18vw 66vh #FFFFFF, 24vw 75vh #FFFFFF, 84vw 19vh #FFFFFF, 53vw 87vh #FFFFFF, 82vw 36vh #FFFFFF, 98vw 100vh #FFFFFF, 78vw 10vh #FFFFFF, 58vw 29vh #FFFFFF, 28vw 62vh #FFFFFF, 1vw 56vh #FFFFFF, 1vw 77vh #FFFFFF, 45vw 2vh #FFFFFF, 79vw 19vh #FFFFFF, 85vw 93vh #FFFFFF, 89vw 32vh #FFFFFF, 13vw 88vh #FFFFFF, 93vw 19vh #FFFFFF, 51vw 93vh #FFFFFF, 4vw 67vh #FFFFFF, 5vw 33vh #FFFFFF, 82vw 70vh #FFFFFF, 49vw 80vh #FFFFFF, 56vw 21vh #FFFFFF, 37vw 6vh #FFFFFF, 16vw 69vh #FFFFFF, 79vw 93vh #FFFFFF, 31vw 58vh #FFFFFF, 40vw 19vh #FFFFFF, 94vw 76vh #FFFFFF, 92vw 74vh #FFFFFF, 98vw 63vh #FFFFFF, 47vw 37vh #FFFFFF, 22vw 27vh #FFFFFF, 15vw 76vh #FFFFFF, 34vw 77vh #FFFFFF, 97vw 73vh #FFFFFF, 10vw 91vh #FFFFFF, 67vw 19vh #FFFFFF, 18vw 28vh #FFFFFF, 57vw 44vh #FFFFFF, 30vw 97vh #FFFFFF, 11vw 35vh #FFFFFF, 15vw 32vh #FFFFFF, 94vw 71vh #FFFFFF, 4vw 86vh #FFFFFF, 32vw 37vh #FFFFFF, 45vw 30vh #FFFFFF, 71vw 8vh #FFFFFF, 53vw 84vh #FFFFFF, 60vw 46vh #FFFFFF, 30vw 95vh #FFFFFF, 93vw 59vh #FFFFFF, 70vw 91vh #FFFFFF, 40vw 51vh #FFFFFF, 78vw 23vh #FFFFFF, 39vw 92vh #FFFFFF, 75vw 71vh #FFFFFF, 67vw 68vh #FFFFFF, 68vw 40vh #FFFFFF, 38vw 17vh #FFFFFF, 35vw 24vh #FFFFFF, 23vw 31vh #FFFFFF;
  border-radius: 50%;
  animation: starMove 150s linear infinite;
}
.star-container .star-layer2::before {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  box-shadow: inherit;
  position: fixed;
  left: 0;
  top: 100vh;
}
.star-container .star-layer3 {
  position: fixed;
  width: 6px;
  height: 6px;
  background: #FFFFFF;
  box-shadow: 30vw 48vh #FFFFFF, 99vw 70vh #FFFFFF, 31vw 10vh #FFFFFF, 95vw 76vh #FFFFFF, 72vw 58vh #FFFFFF, 50vw 49vh #FFFFFF, 50vw 61vh #FFFFFF, 40vw 96vh #FFFFFF, 76vw 81vh #FFFFFF, 85vw 99vh #FFFFFF, 79vw 24vh #FFFFFF, 90vw 38vh #FFFFFF, 52vw 44vh #FFFFFF, 83vw 73vh #FFFFFF, 8vw 25vh #FFFFFF, 64vw 46vh #FFFFFF, 75vw 96vh #FFFFFF, 69vw 97vh #FFFFFF, 63vw 82vh #FFFFFF, 77vw 42vh #FFFFFF, 2vw 42vh #FFFFFF, 93vw 94vh #FFFFFF, 93vw 59vh #FFFFFF, 76vw 82vh #FFFFFF, 46vw 43vh #FFFFFF, 85vw 93vh #FFFFFF, 26vw 13vh #FFFFFF, 98vw 10vh #FFFFFF, 87vw 98vh #FFFFFF, 18vw 4vh #FFFFFF, 75vw 86vh #FFFFFF, 41vw 89vh #FFFFFF, 25vw 9vh #FFFFFF, 62vw 25vh #FFFFFF, 16vw 85vh #FFFFFF, 61vw 76vh #FFFFFF, 89vw 47vh #FFFFFF, 48vw 79vh #FFFFFF, 19vw 17vh #FFFFFF, 27vw 9vh #FFFFFF, 66vw 68vh #FFFFFF, 27vw 55vh #FFFFFF, 92vw 81vh #FFFFFF, 92vw 28vh #FFFFFF, 24vw 80vh #FFFFFF, 22vw 48vh #FFFFFF, 94vw 47vh #FFFFFF, 90vw 46vh #FFFFFF, 84vw 79vh #FFFFFF, 45vw 52vh #FFFFFF, 72vw 57vh #FFFFFF, 71vw 80vh #FFFFFF, 32vw 2vh #FFFFFF, 56vw 18vh #FFFFFF, 63vw 47vh #FFFFFF, 58vw 96vh #FFFFFF, 17vw 12vh #FFFFFF, 90vw 60vh #FFFFFF, 23vw 16vh #FFFFFF, 87vw 74vh #FFFFFF, 86vw 27vh #FFFFFF, 26vw 27vh #FFFFFF, 89vw 9vh #FFFFFF, 76vw 48vh #FFFFFF, 61vw 99vh #FFFFFF, 38vw 78vh #FFFFFF, 41vw 80vh #FFFFFF, 32vw 48vh #FFFFFF, 83vw 80vh #FFFFFF, 81vw 22vh #FFFFFF, 53vw 85vh #FFFFFF, 68vw 50vh #FFFFFF, 52vw 10vh #FFFFFF, 8vw 4vh #FFFFFF, 15vw 55vh #FFFFFF, 25vw 61vh #FFFFFF, 41vw 36vh #FFFFFF, 46vw 24vh #FFFFFF, 79vw 89vh #FFFFFF, 84vw 53vh #FFFFFF, 91vw 76vh #FFFFFF, 25vw 17vh #FFFFFF, 34vw 86vh #FFFFFF;
  border-radius: 50%;
  animation: starMove 75s linear infinite;
}
.star-container .star-layer3::before {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  box-shadow: inherit;
  position: fixed;
  left: 0;
  top: 100vh;
}
.star-container .star-layer4 {
  position: fixed;
  width: 8px;
  height: 8px;
  background: #FFFFFF;
  box-shadow: 32vw 65vh #FFFFFF, 28vw 26vh #FFFFFF, 1vw 68vh #FFFFFF, 66vw 83vh #FFFFFF, 87vw 45vh #FFFFFF, 89vw 88vh #FFFFFF, 33vw 75vh #FFFFFF, 94vw 44vh #FFFFFF, 73vw 17vh #FFFFFF, 23vw 22vh #FFFFFF, 100vw 80vh #FFFFFF, 20vw 48vh #FFFFFF, 9vw 14vh #FFFFFF, 40vw 74vh #FFFFFF, 8vw 51vh #FFFFFF, 4vw 29vh #FFFFFF, 54vw 54vh #FFFFFF, 92vw 60vh #FFFFFF, 42vw 28vh #FFFFFF, 52vw 42vh #FFFFFF, 30vw 12vh #FFFFFF, 1vw 38vh #FFFFFF, 43vw 75vh #FFFFFF, 41vw 20vh #FFFFFF, 29vw 72vh #FFFFFF, 70vw 35vh #FFFFFF, 96vw 87vh #FFFFFF, 88vw 93vh #FFFFFF, 11vw 74vh #FFFFFF, 76vw 56vh #FFFFFF, 18vw 61vh #FFFFFF, 74vw 53vh #FFFFFF, 30vw 51vh #FFFFFF, 88vw 47vh #FFFFFF, 35vw 42vh #FFFFFF, 79vw 56vh #FFFFFF, 93vw 52vh #FFFFFF, 50vw 10vh #FFFFFF, 94vw 8vh #FFFFFF, 85vw 38vh #FFFFFF, 97vw 66vh #FFFFFF;
  border-radius: 50%;
  animation: starMove 37s linear infinite;
}
.star-container .star-layer4::before {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  box-shadow: inherit;
  position: fixed;
  left: 0;
  top: 100vh;
}
.star-container .star-layer5 {
  position: fixed;
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  box-shadow: 58vw 13vh #FFFFFF, 41vw 35vh #FFFFFF, 69vw 5vh #FFFFFF, 29vw 58vh #FFFFFF, 20vw 99vh #FFFFFF, 44vw 12vh #FFFFFF, 45vw 33vh #FFFFFF, 89vw 96vh #FFFFFF, 79vw 96vh #FFFFFF, 37vw 40vh #FFFFFF, 78vw 83vh #FFFFFF, 15vw 19vh #FFFFFF, 2vw 63vh #FFFFFF, 87vw 55vh #FFFFFF, 28vw 38vh #FFFFFF, 71vw 70vh #FFFFFF, 77vw 26vh #FFFFFF, 100vw 77vh #FFFFFF, 41vw 77vh #FFFFFF, 3vw 9vh #FFFFFF;
  border-radius: 50%;
  animation: starMove 18s linear infinite;
}
.star-container .star-layer5::before {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  box-shadow: inherit;
  position: fixed;
  left: 0;
  top: 100vh;
}

@keyframes starMove {
  to {
    transform: translate3d(0, -100vh, 0);
  }
}
